<header class="container-fluid container-fluid--desktop px-0 header">
  <nav class="navbar navbar-expand-lg primary-bg-a7 navbar-dark slim-header justify-content-start p-0 pl-lg-4 pr-lg-5">
    <button class="navbar-toggler collapsed text-white px-2 py-0 mr-3"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar__icon it-expand my-auto ml-1"></span></button>

    <!-- @vs disabilita navbar
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-lg-2 pl-3">
          <a class="nav-link" href="https://forum.vargiuscuola.it">{{ _(t.header_link_forum) }}</a>
        </li>
        <li class="nav-item px-lg-2 pl-3 active">
          <a class="nav-link" href="https://docs.vargiuscuola.it">{{ _(t.header_link_docs) }}</a>
        </li>
        <li class="nav-item px-lg-2 pl-3">
          <a class="nav-link" href="https://protocolli.vargiuscuola.it">{{ _(t.header_link_protocolli) }}</a>
        </li>
        <li class="nav-item px-lg-2 pl-3">
          <a class="nav-link" href="https://github.com/vargiuscuola">{{ _(t.header_link_github) }}</a>
        </li>
      </ul>
    </div>
    -->
    
    <div class="ml-auto">
      {#{% include 'layouts/lang_switch.html' %}#}
    </div>
  </nav>

  <div class="row p-4 px-lg-5 m-0 bg-primary--dark align-items-center">
    <div class="row w-100">
      <div class="logo--header">
        <a href="/" tabindex="-1" aria-hidden="true" class="d-block img--header">
          <!-- span class="img--header align-bottom" -->
        </a>
      </div>
      <div class="col pl-3 pl-sm-4">
        <h1 class="h1--header mb-1">
          <div class="text-white" style="float: left;">Guide di</div>&nbsp;
          <a href="https://vargiuscuola.it/" class="site-title text-white">
            {{ _(t.site_title | default(site.title) | escape) }}
            {% if site.pill %}
              <span class="badge badge-pill bg-primary--mid-dark align-middle">{{ _(site.pill) }}</span>
            {% endif %}
          </a>
        </h1>
        <h2 class="text-white mb-0 h2--header">{{ _(t.site_subtitle | default(site.subtitle) | escape) }}</h2>
      </div>
    </div>
    <!-- rimuove barra con informazioni progetto e link a Vargiu Scuola
    <div class="row mt-4 w-100 docs__document-info">
      <div class="col-md-6">
        <i class="docs-icon-document docs__document-info__icon"></i>
        <a href="{{ pathto(master_doc) }}" class="text-white font-weight-normal">
          {{ docstitle }}
        </a>
      </div>
      <div class="docs__document-info__ownership col-md-5 offset-md-1 mt-3 mt-md-0">
        {% if publisher_project %}
        <div class="w-100">
          <i class="docs-icon-project docs__document-info__icon"></i>
          <span class="docs__document-info__label ml-1">{{ t.project }}:</span>
          <a href="{{ publisher_project_url }}" class="text-white font-weight-normal">
            <u>{{ publisher_project }}</u>
          </a>
        </div>
        {% endif %}
        {% if publisher %}
        <div class="w-100 mt-1">
          <svg class="docs-icon-publisher docs__document-info__icon">
              <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
              <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
          </svg>
          <span class="docs__document-info__label ml-1">{{ t.administration }}:</span>
          <a href="{{ publisher_url }}" class="text-white font-weight-normal">
            <u>{{ publisher }}</u>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    -->
  </div>
</header>
{% include 'layouts/doc_header.html' %}
